.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.MBBLogo {
	position: absolute;
	margin-top: -170px;
	height: 170px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	right:0;
	width: 44%;
	padding-left:2.5%;
	padding-right:2.5%;
}

.MBBLogo h2{
	font-family: 'FromWhereYouAre', Sans-Serif;
	font-size: 3.53vw;
	color: #fff;
	opacity: 1;
}

.calcSymbols {
	float: left;
	margin-top: 10px;
	width: 50%;
}

.MBBLogo p{
	font-family: 'bagnardSans', serif;
	font-size: 16px;
	float: left;
	color: #fff;
	width:50%;
	margin-top: 22px;	
	text-align: right;
}

.endvLogo{
	position: absolute;
	margin-bottom: -62px;
	z-index: 1000;
	padding-top: 8px;
	padding-left: 8px;
}


/* STYLE FOR CONTENT PAGES */
.instructionsContainer{
	margin: auto;
    width: 70%;
    border: 2px solid #7a7a7a;
	background: #fff;
    padding: 3.5%;
	margin-top: 120px;
}

.instructionsContainer p{
	font-family: 'taile', Sans-Serif;
	font-size: 16px;
	margin-top: 20px;
}

.instructionsContainer h2{
	text-align: center;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	margin-top: -10px;
	font-family: 'bagnardSans', serif;
	font-size: 52px;
}

.instructionsContainer h3{
	font-family: 'bagnardSans', serif;
	font-size: 24px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.instructionsSection h3{
	text-align: center;
}


.instructionsContainer .instructionImg{
	position: absolute;
	margin-top: -120px;
	margin-left: -100px;
}

.NDISSection{
	margin: 50px 0 50px 0;
}

.FAQSection a{
	display: block;
	width: 100%;
	height: 50px;
	padding: 15px 0 0 60px;
	text-decoration: none;
}
.form-control{
	width: 70%;
}

.contactPadding p{
	margin-left: 80px;
}

.contactPadding h3{
	margin: 30px 0 12px 5px;
	font-size: 26px;
	color: #95570b
}
.contactPadding h4{
	margin: 15px 0 20px 30px;
	font-family: 'taile', Sans-Serif;
	font-size: 18px;
	font-weight: 600;
}


