@import url("../StyleSheet.css");

body{
	background-color: #e8e8e8;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  float: left;
  width: auto;
  height: 200px;
  }


.MBBLogo h2{
	font-family: 'FromWhereYouAre', Sans-Serif;
	font-size: 8vw;
	text-align: center;
}

#calcSymB{
	display:block;
	margin: 0 auto;
	width: 50%;
	margin-top: -15px;
}

.endvLogo{
	position: absolute;
	margin-bottom: -62px;
	z-index: 1000;
	padding-top: 8px;
	padding-left: 8px;
}

#endvLogoB{
	min-width: 170px;
}

.MBBlogo p{
	font-family: 'taile', Sans-Serif;
	font-size: 4vw;
	line-height: 1;
	text-align: center;
}

.bannerLine{
	display: none;
}

.indexSections{
	width: 100%;
	border-top: 1px solid #999;
	margin-top: 10px;
	background: #fff;
	padding-top: 10px;
	float: left;
}

.indexSections h2{
	font-family: 'BagnardSans', serif;
	font-size: 8.5vw;
	color: #5e5e5e;
	text-align: center;
}

.indexSections p{
	font-family: 'taile', Sans-Serif;
	font-size: 3.5vw;
	line-height: 1.2;
	margin: 0 2.5% 50px 2.5%;;
	text-align: center;
}

.indxImg{
	display: block;
	width: 35vw;
	height: auto;
	margin: 0 auto;
}

.instructionsContainer{
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #999;
	margin-top: 20px;
}

.instructionsContainer p{
	font-family: 'taile', Sans-Serif;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 10px;
}

.instructionsContainer h4{
	font-family: 'taile', Sans-Serif;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 5px;
}

.instructionsContainer h2{
	text-align: left;
	border-bottom: 1px solid #000;
	padding-bottom: 2px;
	margin-top: 30px;
	font-family: 'bagnardSans', serif;
	font-size: 28px;
	margin-left: 5px;
}

.instructionImg{
	display: none;
}

.instructionsContainer h3{
	font-family: 'bagnardSans', serif;
	font-size: 18px;
	padding-top: 5px;
	margin-bottom: 20px;
	margin-left: 5px;
}